.button {
  border: 1px solid $color-blue;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1;
  padding: $space/3 $space/2 $space/3;

  &:hover {
    border-color: $color-green;
  }

  &:focus,
  &--selected {
    background-color: $color-green;
    border-color: $color-green;
    color: $color-white;
    outline: none;
  }

  &--filter {
    display: inline-block;
    margin: $space/4;
    padding-top: calc((#{$space}/3) + 2px);

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
