.button {
  border: 1px solid $color-blue;
  border-radius: $border-radius;
  color: $color-blue-text;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1;
  padding: $space/2.5 $space/2 $space/3;

  &:hover {
    border-color: $color-green;
    color: $color-green-text;
  }

  &:focus,
  &--selected {
    background-color: $color-green;
    color: $color-white;
    outline: none;

    &:hover {
      border-color: $color-white;
      color: $color-white;
    }
  }

  &--filter {
    display: inline-block;
    margin: $space/4 $space/2 $space/4 0;
    padding-top: calc((#{$space}/3) + 2px);

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.game-buttons {
  padding: $space;
  text-align: right;

  .button {
    margin-right: $space;
  }

  .game--ready & {
    margin-top: $space;
    text-align: center;
  }

  @include bp(xs) {
    padding-right: 0;

    .button {
      margin-right: 0;
    }
  }

  @include bp(md) {
    padding: 0;
  }
}

.game-filter-buttons {
  max-width: 18em;

  @include bp(lg) {
    max-width: 100%;
  }
}
