.form {
  display: block;
  min-width: $min-form-width;
  text-align: left;
  width: 100%;

  @include bp(xs) {
    padding: $space/2 $space*2 $space $space;
  }

  @include bp(md) {
    width: 60%;
  }

  &-countrySelect {
    width: auto;
  }

  &-select {
    div {
      border-color: $border-color;
      color: $color-text;

      &:hover,
      &:focus {
        div {
          border-color: $color-blue;
        }
      }
    }
  }
}
