.form {
  display: block;
  padding: 0 0 $space;
  text-align: left;

  &-select {
    div {
      border-color: $border-color;
      color: $color-text;

      &:hover,
      &:focus {
        div {
          border-color: $color-blue;
        }
      }
    }
  }

  &-text {
    .text-icon {
      display: none;
    }
  }

  @include bp(xs) {
    padding: $space/2 0 $space $space*2;

    &-text {
      text-align: left;

      .text-icon {
        display: inline;
      }
    }
  }
}
