body {
  color: $color-text;
  font-family: $font-main;
}

a {
  color: $color-green-text;
  text-decoration: none;

  &:focus, &:hover {
    color: $color-green;
  }
}

h1, h2, h3 {
  line-height: 1.3;
}

h1 {
  color: $color-green-text;
  font-family: $font-heading;
  font-size: 1.3rem;
  padding-bottom: $space;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.1rem;
  padding-bottom: $space/2;
}

sup {
  font-size: 0.6rem;
  position: relative;
  top: -$space/4;
}

.text {
  font-size: 0.9rem;
  line-height: 1.3;
  padding-bottom: $space/2;

  &--blue {
    color: $color-blue-text;
  }

  &--green {
    color: $color-green-text;
  }

  &-icon {
    display: none;

    &--mobile {
      display: inline;
    }

    @include bp(xs) {
      display: inline;

      &--mobile {
        display: none;
      }
    }
  }
}
