.country {
  @include bp(xs) {
    display: flex;

  }

  &-image {
    height: $content-min-width/1.5;
    width: $content-min-width/1.5;
    max-width: 100%;

    @include bp(sm) {
      height: $content-min-width/1.25;
      width: $content-min-width/1.25;
    }

    @include bp(md) {
      height: $content-min-width;
      width: $content-min-width;
    }

    svg {
      height: auto;
      max-width: 100%;
      vertical-align: top;
    }
  }
}
