.game {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: $space;
  position: relative;
  text-align: left;

  &--ready {
    .button.button--refresh,
    .game-area {
      display: none;
    }
  }

  &--started,
  &--finished {
    .button.button--start,
    .game-intro {
      display: none;
    }
  }

  &--easy {
    .hard {
      display: none;
    }
  }

  &--hard {
    .easy {
      display: none;
    }
  }

  &-area {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: $space/2 auto $space*6;

    @include bp(xs) {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: $space*4.5;
    }

    @include bp(xl) {
      margin-bottom: $space*6;
    }
  }

  &-country {
    margin: 0 auto $space;
    min-height: $content-min-width/2;
    text-align: center;
    width: 100%;

    @include bp(sm) {
      margin: 0 0 $space;
      min-height: $content-min-width/1.15;
      width: auto;
    }

    @include bp(md) {
      margin: 0 $space $space;
      min-height: $content-min-width;
    }
  }

  &-countryname {
    color: $color-green-text;
    font-size: 2.2rem;
    line-height: 1.2;
    margin: $space 0;

    @include bp(md) {
      margin-top: $space;
    }

    @include bp(xl) {
      font-size: 2.8rem;
    }
  }

  &-filter {
    border-top: 1px solid $border-color;
    margin-bottom: $space;
    padding-top: $space;

    .game--easy & {
      display: none;
    }
  }

  &-flag {
    padding: $space*2 $space 0;
    text-align: left;

    @include bp(sm) {
      padding-top: $space*3.3;
      text-align: center;
    }

    img {
      max-height: 80px;
      max-width: 120px;

      @include bp(md) {
        max-height: 120px;
        max-width: 180px;
      }
    }
  }

  &-form {
    margin: 0 auto;
    padding: $space;
  }

  &-guesses {
    text-align: left;
  }

  &-intro {
    padding: $space $space 0;
    text-align: center;

    @include bp(sm) {
      max-width: calc(#{$content-min-width} + #{$space});
    }

    @include bp(lg) {
      max-width: $content-mid-width;
    }
  }

  &-select {
    font-size: 0.9rem;
    padding: $space/2 0;

    @include bp(sm) {
      font-size: 1rem;
    }
  }

  &-stats {
    background: white;
    border-top: 1px solid $border-color;
    bottom: $space*3;
    left: 0;
    padding: $space;
    position: fixed;
    width: 100%;

    @include bp(sm) {
      bottom: $space*4;
    }

    span {
      display: block;
      padding: 0 $space;
      text-align: center;

      &.value {
        font-weight: bold;
        padding-top: $space/4
      }

      @include bp(sm) {
        display: inline-block;
        padding: 0 $space/8;
        text-align: left;
      }
    }
  }

  &-zone {
    width: 100%;
  }
}
