$logo-height: 3.33rem;

.header {
  background-color: $color-black;
  text-align: center;

  &-inner {
    margin: 0 auto;
    max-width: $content-mid-width;

    @include bp(sm) {
      margin: 0;
    }
  }

  &-logolink {
    display: block;
    display: flex;
    color: $color-white;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;

    @include bp(sm) {
      justify-content: flex-start;
    }

    &:hover {
      .header-logo {
        animation: App-logo-spin 0.5s ease-in-out;
      }
    }
  }

  &-logo {
    height: $logo-height;
    margin: $space;
  }

  &-title {
    color: $color-white;
    font-family: $font-heading;
    font-size: 1.8rem;
    line-height: $logo-height;
    padding: $space $space $space 0;
    white-space: nowrap;

    @include bp(xs) {
      font-size: 2.2rem;
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
