.header {
  background-color: $color-black;
  text-align: center;

  &-inner {
    margin: 0 auto;
    max-width: $content-mid-width;

    @include bp(xs) {
      //margin: $space;
    }
  }

  &-logolink {
    display: block;
    display: flex;
    color: $color-white;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;

    @include bp(sm) {
      justify-content: flex-start;
    }

    &:hover {
      .header-logo {
        @include animation-spin(0.5s);
      }
    }
  }

  &-logo {
    height: $logo-height;
    margin: $space $space/2 $space 0;
  }

  &-title {
    color: $color-white;
    font-family: $font-heading;
    font-size: 1.8rem;
    line-height: $logo-height;
    padding: $space $space $space 0;
    white-space: nowrap;

    @include bp(xs) {
      font-size: 2.2rem;
    }
  }
}
