body {
  color: $color-text;
  font-family: $font-main;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.hidden {
  display: none;
}

.wrapper {
  min-width: $content-min-width;
  text-align: center;
}
