@mixin animation-appear($duration, $color) {
  animation-name: animation-flash;
  animation-duration: $duration;

  @keyframes animation-flash {
      from {
        background: $color;
        height: 0;
      }
      to {
        background: default;
        height: $space*1.5;
      }
  }
}

@mixin bp($class) {
  @if $class == xs { // 480px
    @media (min-width: 30em) { @content; }
  }
  @if $class == sm { // 540px
    @media (min-width: 33.75em) { @content; }
  }
  @else if $class == md { // 768px
    @media (min-width: 48em) { @content; }
  }
  @else if $class == lg { // 992px
    @media (min-width: 62em) { @content; }
  }
  @else if $class == xl { // 1200px
    @media (min-width: 75em) { @content; }
  }
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg and xl";
  }
}
