@mixin animation-appear($duration, $color) {
  animation-name: animation-flash;
  animation-duration: $duration;

  @keyframes animation-flash {
      from {
        background: $color;
        color: $color-white;
      }
      to {
        background: default;
        color: $color-blue-text;
      }
  }
}

@mixin bp($class) {
  @if $class == xxs {
    @media (min-width: $bp-xxs) { @content; }
  }
  @if $class == xs {
    @media (min-width: $bp-xs) { @content; }
  }
  @if $class == sm {
    @media (min-width: $bp-sm) { @content; }
  }
  @else if $class == md {
    @media (min-width: $bp-md) { @content; }
  }
  @else if $class == lg {
    @media (min-width: $bp-lg) { @content; }
  }
  @else if $class == xl {
    @media (min-width: $bp-xl) { @content; }
  }
  @else {
    @warn "Breakpoint mixin supports: xxs, xs, sm, md, lg and xl";
  }
}
